@page "/quality"

<link rel="stylesheet" href="css/Quality.css" />

<div class="card">
    <h3>Plano Cartesiano</h3>
    <div class="chart-wrapper">
        <div class="y-axis">
            <div>40</div>
            <div>35</div>
            <div>30</div>
            <div>25</div>
            <div>20</div>
            <div>15</div>
            <div>10</div>
            <div>5</div>
            <div>0</div>
        </div>

        <div class="chart-container">
            <div class="chart-grid">
                <div class="axis-y"></div>
                <div class="axis-x"></div>

                <div class="chart-bars">
                    <div class="bar" style="height: 25px;" title="Alice: 5 anos"></div>
                    <div class="bar" style="height: 75px;" title="Bruno: 15 anos"></div>
                    <div class="bar" style="height: 105px;" title="Carla: 21 anos"></div>
                    <div class="bar" style="height: 135px;" title="Daniel: 27 anos"></div>
                    <div class="bar" style="height: 165px;" title="Elaine: 33 anos"></div>
                </div>
            </div>
            <div class="x-labels">
                <span>Alice</span>
                <span>Bruno</span>
                <span>Carla</span>
                <span>Daniel</span>
                <span>Elaine</span>
            </div>
        </div>
    </div>
</div>
