/* NAVBAR (Topo e Toggler) */
.navbar-toggler[b-lx6nr6d397] {
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TOPO DA PÁGINA */
.top-row[b-lx6nr6d397] {
    height: 3.5rem; /* fixo */
    background-color: #0c5bd2;
    display: flex;
    align-items: center;        /* centraliza verticalmente */
    justify-content: center;    /* centraliza horizontalmente */
    padding: 0;
}

/* IMAGEM DA LOGO */
.logo-navbar[b-lx6nr6d397] {
    height: 3.4rem;           /* agora ocupa 90% da barra */
    max-height: 90%;          /* segurança extra */
    object-fit: contain;
    display: block;
}


/* NAVITEM */
.nav-item[b-lx6nr6d397] {
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-lx6nr6d397] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-lx6nr6d397] {
    padding-bottom: 1rem;
}

/* ESTILO DOS LINKS */
.nav.flex-column .nav-link[b-lx6nr6d397] {
    background-color: transparent;
    border-radius: 4px;
    height: 3.3rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.6rem;
    transition: background-color 0.2s ease;
    text-decoration: none !important;
}

/* ÍCONE DO MENU */
.nav-icon[b-lx6nr6d397] {
    width: 24px;
    height: 24px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}

/* TEXTO DO LINK (nav-label) */
.nav-label[b-lx6nr6d397] {
    color: white !important;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
}

/* LINK VISITADO */
.nav.flex-column .nav-link:visited .nav-label[b-lx6nr6d397] {
    color: white !important;
}

/* HOVER */
.nav.flex-column .nav-link:hover[b-lx6nr6d397] {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.nav.flex-column .nav-link:hover .nav-label[b-lx6nr6d397] {
    color: white !important;
}

/* ATIVO */
.nav.flex-column .nav-link.active[b-lx6nr6d397] {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.nav.flex-column .nav-link.active .nav-label[b-lx6nr6d397] {
    color: white !important;
    font-weight: bold;
}

/* SCROLL DA SIDEBAR EM TELAS GRANDES */
@media (min-width: 641px) {
    .navbar-toggler[b-lx6nr6d397] {
        display: none;
    }

    .collapse[b-lx6nr6d397] {
        display: block;
    }

    .nav-scrollable[b-lx6nr6d397] {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
