@inject NavigationManager Navigation

@if (!Navigation.Uri.Contains("login"))
{
    <div class="top-row">
        <img src="img/logo.png" class="logo-navbar" alt="Logo" />
    </div>

    <div class="@NavMenuCssClass nav-scrollable">
        <nav class="nav flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                    <img src="img/painel.png" class="nav-icon" alt="Home" />
                    <div class="nav-label">   Dashboard</div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <img src="img/usuario.png" class="nav-icon" alt="Usuário" />
                    <div class="nav-label">   Usuário</div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/machines">
                    <img src="img/maquina.png" class="nav-icon" alt="Máquinas" />
                    <div class="nav-label">   Máquinas</div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/processes">
                    <img src="img/processo.png" class="nav-icon" alt="Processos" />
                    <div class="nav-label">   Processos</div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/configuration">
                    <img src="img/configuration.png" class="nav-icon" alt="Configuration" />
                    <div class="nav-label">   Configurações</div>
                </NavLink>
            </div>
        </nav>
    </div>
}


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
