@inject NavigationManager Navigation

@if (!Navigation.Uri.Contains("login"))
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">ColdlineWeb</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="nav flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/home" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/usertypes">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Tipos de Usuário
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/departments">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Setor
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Usuario
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/typedefects">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Tipo de Defeito
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/parts">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Peça
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/processtypes">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Tipos de processos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/monitoringtypes">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Tipos de monitoramento
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/defects">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Defeito
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/pausetypes">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Tipos de pausas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/occurrences">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Ocorrencias
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/processes">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Processos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/quality">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Qualidade
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/monitoring">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Monitoramento
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/machines">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Maquinas
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/machinetypes">
                    <span class="bi bi-list-ul" aria-hidden="true"></span> Tipo de Maquina
                </NavLink>
            </div>
        </nav>
    </div>
}

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
