@page "/industria/login"
@layout EmptyLayout
@inject HttpClient Http
@inject NavigationManager Navigation
@using ColdlineWeb.Models


<link rel="stylesheet" href="css/Industria.css">
<img src="img/logofundo.png" class="background-image-login" alt="Logo Fundo">
<div class="login-container">
    <div class="login-card">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger text-center">@errorMessage</div>
        }
        <input class="form-control text-center" @bind="identificationNumber" placeholder="Digite seu número de identificação" />

        <button class="btn btn-primary w-100 mt-3" @onclick="Login">Login</button>
    </div>
</div>

@code {
    private string identificationNumber = string.Empty;
    private string? errorMessage;

    private async Task Login()
    {
        if (string.IsNullOrWhiteSpace(identificationNumber))
        {
            errorMessage = "Por favor, digite um número de identificação.";
            return;
        }

        try
        {
            var user = await Http.GetFromJsonAsync<UserModel>($"api/User/identification/{identificationNumber}");

            if (user != null)
            {
                Navigation.NavigateTo($"/industria?identificationNumber={identificationNumber}");
            }
            else
            {
                errorMessage = "Usuário não encontrado.";
            }
        }
        catch (HttpRequestException)
        {
            errorMessage = "Erro na requisição. Tente novamente.";
        }
    }

}
